<h1 class= m-4>MY TASKS</h1>

<div class= m-4>
<ul>
  <%  @tasks.each do |task| %>
    <li> <%= link_to "#{task.title}", task_path(task) %></li>
    <p> <%= link_to "DELETE TASK",
          task_path(task),
          data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete?"}%>
    </p>
  <% end %>
  </ul>
</div>

<div class= m-4>
<%= link_to "Add a new task", new_task_path, class: "btn btn-primary" %>
</div>
